*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.header
{
    min-height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.38), rgba(0,0,0,0.38)), url("images/bacground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar
{
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 60px;
}

.navbar .logo
{
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 500;
    margin: 10px 0px;
}
.nav-menu ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-menu ul li
{ 
    list-style: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.nav-menu ul li a
{
    text-decoration: none;
    font-size: 18px;
    color: white;
}
.nav-menu ul li:hover
{
    background-color: #fc9003;
    transition: 0.5s ease;
}
.toogle-btn
{
    position: absolute;
    top: 28px;
    right: 20px;
    display: none;
    justify-content: space-between;
    flex-direction: column;
    height: 22px;
    width: 32px;
}
.toogle-btn .bar
{
    height: 4px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

.content-section
{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    padding: 0px, 60px;
}
.content-section h1
{
    color: white;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}
.content-section p
{
    color: #a1a1a1;
    font-size: 19px;
    margin-top: 10px;
    line-height: 1.5;
}
.content-section .button
{
    margin-top: 25px;
}
.content-section .button a
{
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: inline-block;
    border: 2px solid #fc9003;
    border-radius: 5px;
    padding: 14px 25px;
    letter-spacing: 1.5px;
}
.content-section .button a:hover
{
    background-color: #fc9003;
    transition: 0.5s ease;
}

/* Styling for the footer section */
.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    align-items: center;
    max-width: 200px;
    margin: 0 auto;
}

.footer p {
    margin: 0;
}



/* ----------------------------services------------------------------ */

/* Styling for the services section */
.services {
    text-align: center;
    padding: 60px 0;
    background-color: #000; /* Add background color for better contrast */
}

.services h1 {
    color: #fc9003; /* Change text color to #fc9003 */
    margin-bottom: 40px; /* Add some bottom margin to the title for spacing */
}

.service-card {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    text-align: center;
    max-width: 300px;
    display: inline-block;
}

.icon img {
    width: 100px;
    height: 100px;
}

.service-card h3 {
    font-size: 20px;
    color: #fc9003; /* Change text color to #fc9003 */
    margin-top: 10px;
}

.service-card p {
    font-size: 16px;
    margin-top: 15px;
}




@media screen and (max-width: 768px) {

    .toogle-btn
    {
        display: flex;
        z-index: 2;
    }
    .nav-menu ul
    {
        width: 100%;
        background-color: #000000;
        flex-direction: column;
        align-items: center;
        padding-right: 0px;
        position: absolute;
        text-align: center;
        justify-content: center;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
    }
    .nav-menu
    {
        display: none;
        width: 100%;
    }
    .nav-menu ul li
    {
        margin: 10px 0px;
    }
    .nav-menu ul li a
    {
        font-size: 19px;
    }
    .navbar.logo
    {
        font-size: 29px;
    }
    .content-section h1
    {
        font-size: 40px;
    }
    .content-section p
    {
        font-size: 16px;
    }
    .content-section .button a
    {
        font-size: 17px;
        padding: 9px 15px;
    }
    .nav-menu.active
    {
        display: flex; 
    }
}